{% load staticfiles %}
<!-- Footer -->

<footer class="text-center mt-5 py-3" id="footer">
      <div class="statistics">

        <!-- LeanCloud 统计PV -->
        <span id="leancloud-site-pv-container" style="display: none">
            总访问量
            <span id="leancloud-site-pv"></span>
             次
          </span>


        <!-- LeanCloud 统计UV -->
        <span id="leancloud-site-uv-container" style="display: none">
            总访客数
            <span id="leancloud-site-uv"></span>
             人
          </span>


  </div>
{#    <div class="container">#}
{#        <h5 class=" text-center ">Copyright &copy; www.goujuanqi.com 2024-2077</h5>#}
{#    </div>#}
</footer>